#div-form{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cor1);
}

form{
    text-align: center;
    width: 550px;
    height: 400px;
    background-color: #ee82ee;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}


h2{
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 5px;
}




label{
    display: block;
    margin: 15px 0px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

input{
    width: 350px;
    height: 30px;
    padding: 15px;
    border-radius: 5px;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
}

#div-btns{
    margin: 20px 0px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 150px;
    height: 35px;
    margin-left: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--branca);
    cursor: pointer;
    margin: 20px;

}

#btnAdd{
background-color: var(--botao1);
margin-right: 15px;
}

#btnLimpar{
    background-color: var(--botao2);
}

#div-lista{
    width: 100%;
    min-height: 250px;
    margin: 20px 0px;
    padding: 15px;
    background-color: var(--branca);
    border-radius: 8px;
}

.div-item{
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    margin: 20px 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branca);
    font-weight: bold;
}