@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libertinus Math;
    
}

:root{
    --branca:#eebe80;
    --cor-fundo:#bafda0;
    --botao1:#f7972a;
    --botao2:#87eb7e;
    --cor1:#aef3a8;
    --cor2:#f3ab3f;
}

body{
    margin: 25px;
    text-align: justify;
}